
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
.env
.env.dev
.env.test
.env.test.local

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
/config/jwt/private.pem
/config/jwt/public.pem
/config/jwt/private2.pem

.DS_Store
coverage-report/
